<div class="container">
  <article class="card">
    <header class="card-header">Order Tracking</header>
    <div class="card-body">
      <article class="card">
        <div class="card-body row">
          <div class="col"> <strong>Tracking #:</strong> <br> {{TrackingID}}</div>
          <div class="col"> <strong>Order Date</strong> <br>{{mydate}}</div>
          <div class="col"> <strong>Ordered By</strong> <br> {{CustomerName}} | <i class="fa fa-phone"></i>{{CustomerPhone}}</div>
          <div class="col"> <strong>Email</strong> <br>{{CustomerEmail}} </div>
          <div class="col"> <strong>Shipping Address</strong> <br> {{ShippingAddress}}</div>
          <div class="col"> <strong>Total Amount</strong> <br> {{Total}}</div>
        </div>
      </article>
      <div class="track">
        <div class="{{pen}}"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order confirmed</span> </div>
        <div class="{{pc}}"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Picked by courier</span> </div>
        <div class="{{ow}}"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> On the way </span> </div>
        <div class="{{r}}"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Ready for pickup</span> </div>
      </div>
      <hr>
      <ul  class="row">
        <li class="col-md-4" *ngFor="let products of products">
          <figure class="itemside mb-3" >
            <div class="aside"><img src="http://localhost/images/{{products.ImagePath}}" class="img-sm border"></div>
            <figcaption class="info align-self-center">
              <p class="title">{{products.ProductName}} <br> #{{products.Code}}</p> <span class="text-muted">PKR {{products.ProductPrice}}x{{products.ProductQuantity}} </span>
            </figcaption>
          </figure>
        </li>
      </ul>
      <hr>
    </div>
  </article>
</div>
