body{
  background-color:#FFCDD2;
  font-family: 'Roboto', sans-serif;
}
.boxx{
  width:400px;
  display:none;
  overflow:hidden;
}
.road{
  display:none;
  background-image: linear-gradient(90deg, #0e2a54 25%, #ffffff 25%, #ffffff 50%, #0e2a54 50%, #0e2a54 75%, #ffffff 75%, #ffffff 100%);
  width:100%;
  height:10px;
  position:absolute;
  top:50%;
  animation-delay:2s;
  animation-name:road;
  animation-duration:0.4s;
  animation-timing-function:linear;
  animation-iteration-count:infinite;
}
.button{
  width:auto;
  height:auto;
  transform:translate(-50%, -50%);
  top:50%;
  left:50%;
  position:absolute;
  overflow:hidden;
}
.button .b1{
  cursor:pointer;
  width:450px;
  height:120px;
  background-color:#0e2a54;
  border-radius:100px;
  color:white;
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
  font-size:30px;
  transition: all 0.3s ease 0s;
}
.package{
  border-radius:5px;
  top:33%;
  left:10%;
  width:40px;
  height:40px;
  background-image:linear-gradient(#FFAB00 50%, #827717);
  position:absolute;
  z-index:2;
  animation-delay:0.5s;
  animation-name:movepackage;
  animation-duration:0.7s ;
  animation-timing-function: linear, ease-in;
}
.lorry{
  width:120px;
  height:70px;
  background-image: linear-gradient(#ECEFF1, #EEEEEE);
  position:absolute;
  transform:translate(-50%, -50%);
  top:50%;
  left:50%;
  border-radius:4px;
  animation:0.3s movelorry;
  animation-timing-function:ease-in-out;
}
.lorry .head{
  width:50px;
  height:inherit;
  background-color:red;
  border-top-right-radius:18px;
  border-bottom-right-radius:18px;
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
  margin-left:122px;
}
.head::before{
  content:'';
  width:18%;
  border-top-right-radius:15px;
  border-bottom-right-radius:15px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
  height:70%;
  top:10px;
  margin-left:0px;
  background-image:linear-gradient(to right, black, gray);
  position:absolute;
  border-left:20px solid #B71C1C;
}
.lorry .head .clight{
  width:3px;
  height:10px;
  background-color:yellow;
  top:12px;
  margin-left:50px;
  position:absolute;
  box-shadow:0px 30px 0px 0 yellow;
}
.lorry .door .ld{
  background-image:linear-gradient(#ECEFF1, #EEEEEE);;
  width:25px;
  height:5px;
  position:absolute;
  margin-left:-20px;
  border-radius:1px;
  margin-top:10px;
  transform-origin:top right;
  transform:rotate(-90deg);
  animation-delay:1s;
  animation-name:doorleft;
  animation-duration: 1.2s ;
  animation-timing-function: linear, ease-in;
}

.lorry .door .rd{
  background-image:linear-gradient(#ECEFF1, #EEEEEE);;
  width:25px;
  height:5px;
  position:absolute;
  margin-left:-20px;
  border-radius:1px;
  margin-top:55px;
  transform-origin:top right;
  transform:rotate(90deg);
  animation-delay:1s;
  animation-name:doorright;
  animation-duration: 1.2s ;
  animation-timing-function: linear, ease-in;
}
@keyframes doorleft{
  0%{
    transform:rotate(-90deg);
  }
  10%{
    transform:rotate(30deg);
  }
  100%{
    transform:rotate(-90deg);
    display:none;
  }
}

@keyframes doorright{
  0%{
    transform:rotate(90deg);
  }
  10%{
    transform:rotate(-30deg);
  }
  100%{
    transform:rotate(100deg);

  }
}
@keyframes movepackage{
  0%{
    transform:translate(10%, 0);
    opacity:1;
  }
  90%{

    opacity:0.8;
  }
  100%{
    transform:translate(130%, 0);
    opacity:0;
  }
}

@keyframes movelorry{
  from{
    left:100%;
  }
  to{
    left:50%;
  }
}

@keyframes road{
  100% {
    -webkit-transform: translateX(-50%);
  }
}

@keyframes lorryonroad{
  0%{
    margin-left:-10%;
  }
  40%{
    margin-left:-20%;
  }
  70%{
    margin-left:10%;
  }
  90%{
    margin-left:-20%;
  }
  100%{
    margin-left:10%;
  }
}
.lorryonroad{
  animation-duration:3s;
  animation-delay:2s;
  animation-timing-function:ease-in-out;
  animation-name:lorryonroad;

}
.c1, .c2{
  width:50px;
  filter:sepia(100%);
  margin-top:-10px;
  margin-left:-2px;
}
svg {
  width: 80px;
  display: block;
  margin: 40px auto 0;
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.path.circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.9s ease-in-out;
}
.path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
  animation: dash 0.9s 0.35s ease-in-out forwards;
}
.path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
.b1 svg{
  position:absolute;
  top:15%;
  left:50%;
  transform:translate(-50%, -50%);
}
.dribbble{
  position:absolute;
  bottom:10px;
  width:100px;
  right:5px;
}
body {
  background: #ddd;
  min-height: 100vh;
  vertical-align: middle;
  display: flex;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: bold
}

.title {
  margin-bottom: 5vh
}

.card {
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent
}

@media(max-width:767px) {
  .card {
    margin: 3vh auto
  }
}

.cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem
}

@media(max-width:767px) {
  .cart {
    padding: 4vh;
    border-bottom-left-radius: unset;
    border-top-right-radius: 1rem
  }
}

.summary {
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65)
}

@media(max-width:767px) {
  .summary {
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem
  }
}

.summary .col-2 {
  padding: 0
}

.summary .col-10 {
  padding: 0
}

.row {
  margin: 0
}

.title b {
  font-size: 1.5rem
}

.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%
}

.col-2,
.col {
  padding: 0 1vh
}

a {
  padding: 0 1vh
}

.close {
  margin-left: auto;
  font-size: 0.7rem
}

img {
  width: 3.5rem
}

.back-to-shop {
  margin-top: 4.5rem
}

h5 {
  margin-top: 4vh
}

hr {
  margin-top: 1.25rem
}

form {
  padding: 2vh 0
}

select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247)
}

input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247)
}

input:focus::-webkit-input-placeholder {
  color: transparent
}

.btn {
  background-color: #000;
  border-color: #000;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0
}

.btn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none
}

.btn:hover {
  color: white
}

a {
  color: black
}

a:hover {
  color: black;
  text-decoration: none
}

#code {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center
}

.payment-form{
  padding-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
}

.payment-form.dark{
  background-color: #f6f6f6;
}

.payment-form .content{
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  background-color: white;
}

.payment-form .block-heading{
  padding-top: 50px;
  margin-bottom: 40px;
  text-align: center;
}

.payment-form .block-heading p{
  text-align: center;
  max-width: 420px;
  margin: auto;
  opacity:0.7;
}

.payment-form.dark .block-heading p{
  opacity:0.8;
}

.payment-form .block-heading h1,
.payment-form .block-heading h2,
.payment-form .block-heading h3 {
  margin-bottom:1.2rem;
  color: #3b99e0;
}

.payment-form form{
  border-top: 2px solid #5ea4f3;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  background-color: #ffffff;
  padding: 0;
  max-width: 600px;
  margin: auto;
}

.payment-form .title{
  font-size: 1em;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 0.8em;
  font-weight: 600;
  padding-bottom: 8px;
}

.payment-form .products{
  background-color: #f7fbff;
  padding: 25px;
}

.payment-form .products .item{
  margin-bottom:1em;
}

.payment-form .products .item-name{
  font-weight:600;
  font-size: 0.9em;
}

.payment-form .products .item-description{
  font-size:0.8em;
  opacity:0.6;
}

.payment-form .products .item p{
  margin-bottom:0.2em;
}

.payment-form .products .price{
  float: right;
  font-weight: 600;
  font-size: 0.9em;
}

.payment-form .products .total{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding-top: 19px;
  font-weight: 600;
  line-height: 1;
}

.payment-form .card-details{
  padding: 25px 25px 15px;
}

.payment-form .card-details label{
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #79818a;
  text-transform: uppercase;
}

.payment-form .card-details button{
  margin-top: 0.6em;
  padding:12px 0;
  font-weight: 600;
}

.payment-form .date-separator{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

@media (min-width: 576px) {
  .payment-form .title {
    font-size: 1.2em;
  }

  .payment-form .products {
    padding: 40px;
  }

  .payment-form .products .item-name {
    font-size: 1em;
  }

  .payment-form .products .price {
    font-size: 1em;
  }

  .payment-form .card-details {
    padding: 40px 40px 30px;
  }

  .payment-form .card-details button {
    margin-top: 2em;
  }
}
