
<div class="container">
  <br/>
  <br/>
  <h2>About Me</h2>
  <div class="service-details">
    <img src="https://pbs.twimg.com/profile_images/968446735948369920/SHJjxpj7_400x400.jpg" alt="Danish Siddique">
    <div class="service-hover-text">
      <h3>Danish Siddique</h3>
      <h4>Developer</h4>
      <p>I created this website using Mean Stack. I am interested in Web Development and Deep Learning</p>
    </div>
    <div class="service-white service-text">
      <p>Danish Siddique</p>
      <a href="https://www.facebook.com/Danishwrites/">@demonDS</a>
    </div>
  </div>
</div>
